<?xml version="1.0" encoding="utf-8" ?>

<!--
SPDX-License-Identifier: BSD-3-Clause
SPDX-FileCopyrightText: Czech Technical University in Prague
-->

<launch>
  <arg name="image_transport" default="raw" />
  <arg name="point_cloud_transport" default="raw" />
  <arg name="tf_prefix" default="" />

  <node name="point_cloud_color" exec="point_cloud_color" pkg="point_cloud_color" respawn="true">
    <param name="image_transport"        value="$(var image_transport)"/>
    <param name="point_cloud_transport"  value="$(var point_cloud_transport)"/>
    <param name="fixed_frame"            value="$(var tf_prefix)base_link"/>
    <param name="num_cameras"            value="1"/>
    <param name="max_image_age"          value="50000000.0"/>
    <param name="max_cloud_age"          value="50000000.0"/>
    <param name="use_first_valid"        value="true"/>
    <param name="image_queue_size"       value="1"/>
    <param name="point_cloud_queue_size" value="50"/>
    <param name="wait_for_transform"     value="0.5"/>
    <param name="default_color"          value="'0x00000000'"/>
    <param name="synchronize"            value="false"/>

    <remap from="camera_0/image" to="/luxonis/oak/right/image_raw" />
    <remap from="camera_0/camera_info" to="/luxonis/oak/right/camera_info" />
    <remap from="cloud_in" to="livox/lidar" />
    <remap from="cloud_out" to="livox/lidar/color" />

  </node>
</launch>